@import "../variables/index";

.button {
  height: 35px;
  border-radius: $border-radius-2;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-base * 1.3;

  &__fill {
    &--green {
      background-color: $green;
      border: 1px solid $green-darker;
      color: $green-darker;

      &:hover {
        color: $white;
        background-color: $green-dark;
      }
    }
  }

  &.disabled {
    background-color: $gray-lighter;
    border: none;
    color: $gray;
  }
}
