$white: #fff;
$gray-lightest: #dddddd;
$gray-lighter: #c0c5ce;
$gray-light: #a7adba;
$gray: #65737e;
$gray-dark: #485058;
$gray-darker: #343d46;
$black: #000;

$red: #d9534f;

$green: #2ecc71;
$green-dark: #2fac63;
$green-darker: #106e37;

$blue: #6495ed;

$shadow-color: rgba(20, 20, 20, 0.38);

$translucent-black: rgba(0, 0, 0, 0.357);
